@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
}

body {
  @apply bg-gray-50 text-gray-800;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
}
